<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="{{ lang }}"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="{{ lang }}"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="{{ lang }}"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="{{ lang }}"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="{{ lang }}"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Metabase - n-vestigate</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url('static', filename='img/favicon.png') }}" type="image/x-icon" rel="icon"/><link href="{{ url('static', filename='img/favicon.png') }}" type="image/x-icon" rel="shortcut icon"/>
	<link rel="stylesheet" href="{{ url('static', filename='css/build.css') }}" />
	<link rel="stylesheet" href="{{ url('static', filename='css/gridly.min.css') }}" />
	<link rel="stylesheet" href="{{ url('static', filename='css/nost-icons.css') }}" />
	<link rel="stylesheet" href="{{ url('static', filename='css/datatables.min.css') }}" />
	<link rel="stylesheet" href="{{ url('static', filename='css/chosen.min.css') }}" />
	<link rel="stylesheet" href="{{ url('static', filename='css/magnific-popup.css') }}" />
	<link rel="stylesheet" href="{{ url('static', filename='css/settings.css') }}" />

	<script src="{{ url('static', filename='js/modernizr-3.2.0.base.js') }}"></script>

</head>
<body>
    <div class="wrapper">
        <header class="contentbox header">
            <div class="row">
                <a href="/"><img src="{{ url('static', filename='img/n-vestigate_logo.png') }}" alt="n-vestigate Logo" class="logo"/></a>
                <a class="toogle-menu color-default align-center js-toggle-menu" href="#"><span>&#9776;</span></a>
                <section class="lang-switch-user-box">
                    <div class="lang-switch align-center">
                        {% if lang != "en" %}<a href="?lang=en" title="English">EN</a>{% else %} EN {% endif %} 
                        {% if lang != "ru" %}<a href="?lang=ru" title="Russian">RU</a>{% else %} RU {% endif %}
                    </div>
                </section>
            </div>
        </header>
        <article>
            <div class="contentbox bg-color-orange">
                <div class="row">
                    <div class="col hero-slogan">
                        {# Poor's man i18n #}
                        {% if lang == "en" %}
							<h1>n-vestigate Metabase</h1>
							<img class="databaseimg" src="{{ url('static', filename='img/database-img-300x275.png') }}"" alt="" width="300" height="275" />
                            <p>
                                <b>You need data for your journalistic research? We show you where to find it!</b> <br/>n-vestigate metabase is a database of databases. It assembles over 150 links to different public registries, records and datasets across Eastern Europe and EU countries.
                            </p>
                            <p>
                                Metabase is provided by <b>n-vestigate</b> – an investigative network hosted by n-ost and four other research partners from Eastern Europe. Find out more about the network <a href="http://www.n-vestigate.net/" title="Link to n-vestigate website" target="_blank">here</a>!
                            </p>
                        {% else %}
							<h1>n-vestigate Метабаза</h1>
							<img class="databaseimg" src="{{ url('static', filename='img/database-img-300x275.png') }}"" alt="" width="300" height="275" />
                            <p>
                                <b>Вам нужны данные для  вашего журналистского расследования? Мы поможем вам их найти!</b> Метабаза n-vestigate - это коллекция баз данных. В ней собраны более 150 ссылок на различные публичные реестры, открытые данные и базы данных в странах Восточной Европы и Евросоюза.
                            </p>
                            <p>
                                Метабаза создана <b>n-vestigate</b> – инвестигативным сообществом, возникшем из тесного сотрудничества n-ost с четырьмя партнёрами из Восточной Европы. Узнайте больше о проекте n-vestigate <a href="http://www.n-vestigate.net/" title="Link to n-vestigate website" target="_blank">здесь</a>!
                            </p>
                        {% endif %}
                    </div>
                </div>


                <!-- contentbox -->
                <div class="contentbox bg-color-grey border-bottom" id="reg-description">
                    <div class="row">
                        <div class="col info-text">
                            {% if lang == "en" %}
                                <p>
                                    <b>n-vestigate metabase helps you to find &amp; access existing databases.</b>
                                    Group entries by country and sector, or apply filters for accessibility (free/paid/partly free) and status (official/unofficial). If you need support with research in other languages, or you know a database that is missing here, please find our HELP button below. Our service is free of charge.
                                </p>
                            {% else %}
                                <p>
                                    <b>Метабаза n-vestigate поможет вам найти существующие базы данных и получить к ним доступ. </b>
                                    Сгруппируйте базы данных по стране и сектору, или воспользуйтесь фильтром по условиям доступа (бесплатный/ платный/ частично бесплатный). 
                                    Если вам нужна помощь с данными на иностранных языках или вам известны базы данных, которые пока еще отсутствуют в метабазе, пожалуйста, нажмите на кнопку ПОМОЩЬ внизу. Мы не взимаем платы за свои услуги.
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        {% include "table.html" %}
                    </div>
                </div>
				
                <div class="help-button">
                    <div class="col align-center">
                        <!-- <div class="filler"></div> -->
                        <button id="jsContacts" class="btn load-more" title="Help" href="#contactUsForm">Still need help?</button>
						
                        <div id="contactUsForm" class="mfp-hide white-popup">
                            <form method="post" accept-charset="utf-8" class="toggle-flyout active" action="/">
                                <input type="hidden" name="_method" value="POST">
                                <h2>Contact us</h2>
                                <p>
                                    You want to contact the HelpDesk to get support with searching one of the databases listed above, to send us feedback on the database, or you have another concern? Please provide your name, contact information, country, media outlet(s) and your personal request. In order to speed up our service, please answer to one brief question in the contact form.
                                </p>
                                <div class="input text required">
                                    <input type="text" name="name" placeholder="Name " required="required">
                                </div>
                                <div class="input text required">
                                    <input type="email" name="email" placeholder="Email " required="required">
                                </div>
                                <div class="input text required">
                                    <input type="text" name="media_outlet" placeholder="Media outlet ">
                                </div>
                                <div class="input text required">
                                    <select name="question" placeholder="Question ">
                                        <option>I found a register I want to search and now I need help to use it.</option>
                                        <option>I don´t find the resources I was hoping to find.</option>
                                        <option>I would like to suggest a new source of data for metabase that is not listed here yet.</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                                <div><button>Submit</button></div>
                            </form>
                        </div>
						
                    </div>
                </div>
			
            </div>
            <!-- /contentbox -->

        </article>

					<!-- Sponsor & Partner Section -->
					<section id="partner">
						<div class="contentbox">	
							<div class="row">
								<span class="description"><strong>n-vestigate</strong> is a joined project by</span>
							</div><div class="row">
								<div>
									<a href="https://irrp.org.ua/" title="RDPI"><img src="http://www.n-vestigate.net/wp-content/uploads/2017/03/n-vestigate_partner_1.png" alt=""></a>
								</div>
								<div>
									<a href="http://hetq.am" title="hetq"><img src="http://www.n-vestigate.net/wp-content/uploads/2017/03/n-vestigate_partner_2.png" alt=""></a>
								</div>
								<div>
									<a href="https://www.rise.md" title="RISE Moldavia"><img src="http://www.n-vestigate.net/wp-content/uploads/2017/03/n-vestigate_partner_3.png" alt=""></a>
								</div>
								<div>
									<a href="http://liberali.ge/" title="Liberali"><img src="http://www.n-vestigate.net/wp-content/uploads/2017/03/n-vestigate_partner_4.png" alt=""></a>
								</div>
								<div>
									<a href="http://www.n-ost.org/" title="n-ost"><img src="http://www.n-vestigate.net/wp-content/uploads/2017/04/n-vestigate_partner_5.png" alt=""></a>
								</div>
							</div>
						</div>
					</section>
						
					<section id="sponsor" >
						<div class="contentbox">	
							<div class="row">
								<div class="inner">		
								<p class="description"><strong>n-vestigate</strong> is supported by</p>
									<div>
										<a href="http://www.bmz.de/de/index.html" title="BMZ"><img src="http://www.n-vestigate.net/wp-content/uploads/2017/03/n-vestigate_foerderer_bmz.png" alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</section> <!-- END Sponsor & Partner Section -->
			
		<!-- Begin Footer -->
		<footer> 
			<div class="contentbox">
				<div class="row">	
				  <div class="copyright">&copy; 2017 n-vestigate</div>
					<div class="imprint align-right">
						<a href="http://www.n-vestigate.net/impressum/" target="_blank">Imprint</a></li>
					</div>
				</div>
			</div>
		</footer> <!-- End Footer --> 
		

        <script src="{{ url('static', filename='js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ url('static', filename='js/build.min.js') }}"></script>
        <script src="{{ url('static', filename='js/datatables.min.js') }}"></script>
        <script src="{{ url('static', filename='js/chosen.jquery.min.js') }}"></script>
        <script src="{{ url('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ url('static', filename='js/init.js') }}"></script>
</body>
</html>