.dataTable th {
    vertical-align: top;
}

#registry_wrapper {
    margin-bottom: 20px;
}

#registry_filter {
    display: none;
}

.filler {
    height: 20px;
}

.contentbox.sub-footer .menu-3 .col {
    background: white;
}

.contentbox.sub-footer .menu-3 .content a {
    height: auto;
    padding: 15px;
    background: white;
}

.contentbox.sub-footer .menu-3 .content a img {
    max-height: 95px;
}

.hero-slogan p {
	color: white;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px;
}

.chosen-results {
    text-align: left;
}

#reg-description {
    padding-top: 35px;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.white-popup div.input {
    margin-bottom: 10px;
}

.mfp-close {
    margin: 10px;
}

.white-popup textarea {
    padding: 10px;
}

.white-popup h1 {
    font-size: 25px;
}

.white-popup h1.success {
    color: darkgreen;
}

.white-popup h1.error {
    color: darkred;
}